*{
    margin: 0;
    padding: 0;
}

#game{
    width: 1000px;
    height: 500px;
    border: 5px solid black;
    background: red;
    position: relative;
    top: 100px;
    left: 100px;
}

#score-time {
    padding: 10px;    
}

#game-area {
    border: 3px solid black;   
}

#game{
    display: flex;
    flex-direction: column;
}

#score-time {
    background: red;
    padding: 10px;
}

#game-area {
    background:blue;
    height: 700px;
    border: 5px solid black;
}

#start {
    margin: 10px;
    padding: 10px;
    background: green;
}


.ck {
    height: 50px;
    width: 50px;    
}

#cockroach-1{
    position: relative;
    animation-name: cockroach-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#beetle-1{
    position: relative;
    animation-name: beetle-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#ant-1{
    position: relative;
    animation-name: ant-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}



@keyframes cockroach-1 {
    from {
        top: 0;
        left: 0;
    }
    
    25% {
        top: 150px;
        left: 150px;
    }

    50%{
        top: 300px;
        left: 300px;
    }

    75% {
        top: 0;
        left: 500px;
    }

    100%{
        top: 0;
        left: 0;
    }
}

@keyframes beetle-1 {
    from {
        top: 100px;
        left: 100px;
    }
    
    25% {
        top: 200px;
        left: 200px;
    }

    50%{
        top: 100px;
        left: 300px;
    }

    75% {
        top: 200px;
        left: 200px;
    }

    100%{
        top: 100px;
        left: 100px;
    }
}

@keyframes ant-1 {
    from {
        top: 100px;
        left: 0;
    }
    
    25% {
        top: 300px;
        left: 300px;
    }

    50%{
        top: 100px;
        left: 300px;
    }

    75% {
        top: 300px;
        left: 400px;
    }

    100%{
        top: 100px;
        left: 0;
    }
}
